{% extends 'main/base.html' %} 
{% block title %} Edit a Post{% endblock %} 
{% load crispy_forms_tags %} 

{% block content %}


<form method="POST" class="post-form" action="/updatepost/{{post.id}}/">  
    {% csrf_token %}  
      <div class="container">  
        <div class="mb-3 mt-3">
          <label for="id_title" text-align="left">Title</label>
          <input type="text" name="title" maxlength="200" class="textinput form-control" value="{{post.title}}">
        </div>
        <div class="mb-3 mt-3">
          <label for="id_description" text-align="left">Description</label>
          <input type="textarea" name="description" maxlength="200" class="textinput form-control" value="{{post.description}}">
        </div>
        <div class="mb-3 mt-3">
          <label for="id_amount" text-align="left">Amount</label>
          <input type="number" name="amount" maxlength="200" class="textinput form-control" value="{{post.amount}}">
        </div>

        <div class="form-group row" align="right">  
        <div class="col-sm-4">  
        <button type="submit" class="btn btn-success">Update</button>  
        <button type="submit"><a href="/mypost"> Cancel</a></button>  
        </div>  
      </div>  
    </form>  

{% endblock %}
